<div class="text-center">
    <h2>Trabajo Práctico N°5 - Backend, Frontend y Angular</h2>
    <h4>Programación y Servicios Web</h4>
    <img src="assets/logo.png" width="250px" class="my-4" alt="tp02logo">
</div>
<div class="row">
    <div class="col-12">
        <h4 class="text-center bg-primary text-white py-2">INFORMACIÓN</h4>
        <div class="px-4">
            <strong>Institución: </strong>Facultad de Ingeniería de Jujuy<br/>
            <strong>Carrera: </strong>Analista Programador Universitario<br/>
            <strong>Alumno: </strong>Fernando Nicolas Ayala<br/>
            <strong>LU: </strong>4230<br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
    <h4 class="text-center bg-primary text-white py-2">RECURSOS</h4>
    <div class="px-4">
        <a href="https://getbootstrap.com"><strong>Bootstrap</strong></a><br/>
        <a href="https://icons.getbootstrap.com"><strong>Bootstrap Icons</strong></a><br/>
    </div>
    </div>
</div>