<div class="container d-flex flex-column justify-content-center align-items-center p-4">
    <button type="button" class="btn btn-primary" (click)="createTicket()">Nuevo Ticket</button>
</div>
<section class="table-container p-0">
    <div class="table-wrapper">
        <button type="button" class="btn btn-secondary m-1" (click)="filtrar('l')">Filtrar por local</button>
        <button type="button" class="btn btn-secondary m-1" (click)="filtrar('e')">Filtrar por extranjeros</button>
        <button type="button" class="btn btn-secondary m-1" (click)="cargarTickets()">Sin filtro</button>
        <table class="table table-striped table-hover text-center caption-top">
            <caption>Lista de Tickets</caption>
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-1">DNI</th>
                    <th scope="col" class="col-1">Tipo de Espectador</th>
                    <th scope="col" class="col-1">Fecha de Cobro</th>
                    <th scope="col" class="col-1">Precio Cobrado</th>
                    <th scope="col" class="col-2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @for (item of tickets; track $index) {
                    <tr>
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{item.dni}}</td>
                        @if(item.categoriaEspectador === 'l'){
                            <td>Local</td>
                        } @else {
                            <td>Extranjero</td>
                        }
                        
                        <td>{{item.fechaCompra | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.precioTicket.toString() | currency: 'ARS $'}}</td>
                        <td>
                            <!--<a type="button" class="btn btn-primary m-1" [routerLink]="['/punto5', ticket._dni]">Ver</a>-->
                            <button type="button" class="btn btn-primary m-1" (click)="modificar(item._id)">Modificar</button>
                            <button type="button" class="btn btn-danger m-1" (click)="deleteTicket(item._id)">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>